#wrapper{
    background-color: lightgray;
    width: 900px;
    height:fit-content;
    margin: auto;
    padding: 40px;
}

#results{
    padding: 20px;
    border: solid black 1px;
}

#results h1{
    text-decoration: underline;
}